section{
  scroll-margin-top: 120px;
}
button{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
h2{
  text-align: center;
  font-weight: var(--h2-font-wight);
  font-size: var(--h2-font-size);
  color: var(--brown);
}
section > a{
  display: block;
  margin: 10px auto;
  padding: 10px 40px;
  width: var(--button-width);
  font-weight: var(--h2-font-wight);
  font-size: var(--button-font-size);
  background-color: var(--brown);
  color: var(--white);
  border-radius: 50px;
  border: none;
  white-space: nowrap;
  text-align: center;
}
/* hero */
.hero{
  padding-top:120px;
  position:relative;
  width:100vw;
}
.hero h1{
  position:absolute;
  top: 33%;
  left: 10%;
  color: var(--pink);
  font-size: clamp(24px, 6vw, 64px);
  font-weight: 700;
    text-shadow:
    -5px -5px 0 white,
     5px -5px 0 white,
    -5px  5px 0 white,
     5px  5px 0 white,
     0px  0px 5px white;
}
.hero img{
  width: 100vw;
}
.X{
  position:absolute;
  background-color: var(--pink);
  color: white;
  font-size: clamp(10px, 1vw, 15px);
  font-weight: 700;
  top: 75%;
  right:30%;
  padding: 2rem;
  border-radius: 50%;
  text-align: center;
  width:clamp(50px, 20vw, 200px);
}
#x{
  font-size: clamp(15px, 1vw, 40px);
}
.X a:link,
.X a:visited,
.X a:hover,
.X a:active
{
  color: white;
}
.tv{
  position:absolute;
  background-color: var(--pink);
  color: white;
  font-size: clamp(10px, 1vw, 15px);
  font-weight: 700;
  top: 75%;
  right: 10%;
  padding: 2rem;
  border-radius: 50%;
  text-align: center;
}
@media (max-width: 1200px) {
  .hero{
  padding-top:80px;
  }
  .X{
  display:none;
  }
  .tv{
    display: none;
  }
}

/* Youtube */
#youtube{
  padding: 5vh;
}
#youtube ul{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#youtube li{
  margin: 1vw;
  padding: 2.5vw;
  background-color: var(--lightyellow);
  border-radius: clamp(10px, 4vw, 50px);
  width:fit-content;
}
#youtube div{
  width: 200px;
  aspect-ratio: 16 / 9;
}
#youtube ul{
  flex-wrap: nowrap;
}
#youtube li:last-child {
  display: none;
}

@media (max-width: 1200px) {
  #youtube li:last-child {
    display: inline;
  }
  #youtube ul{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2px;
  }
  #youtube iframe{
    width: 160px;
  }
  #youtube li{
    padding: clamp(10px, 4vw, 30px);
  }
}
@media (max-width: 800px){
  #youtube ul,
  #youtube li{
    display: block;
    margin: 1vh auto;
  }
  #youtube li:last-child {
    display: none;
  }
  #youtube li:nth-child(3){
    display: none;
  }
}

/* information */
#information{
  padding: 5vh 0;
  background-color: var(--white);
}
#information ul{
  max-width: max-content;
  width: 100vw;
  margin: clamp(12px, 1.5vw, 30px) auto;
}
#information li{
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1rem 0;
  padding-bottom:10px;
  padding-left: 3ch;
  border-bottom: solid 1px var(--brown);
}
#information li:last-child{
  border: none;
}
#information h3{
  color: var(--pink);
  width: 15vw;
}
#information li p{
  padding-left: 5ch;
  padding-bottom: 5px;
}

/* introduction */
#introduction{
  margin: 5vh 3vw;
}
#introduction p{
  text-align: center;
  font-weight: var(--h2-font-wight);
  font-size: clamp(12px, 1.5vw, 20px);
  color: var(--brown);
  max-width: 500px;
  margin: 2vw auto;
}

/* episodes */
#episodes{
  padding: 5vh;
}
#episodes ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vh clamp(0px, 5vw, 300px);
}
#episodes li{
  flex: 0 0 25%;
  height: auto;
  margin: 3vw clamp(0px, 1.5vw, 20px);
  position:relative;
}
#episodes img{
  width: 100%;
}
#episodes p{
  text-align: center;
  font-weight: var(--h2-font-wight);
  font-size: clamp(10px, 1.5vw, 20px);
  color: var(--brown);
}
#episodes .episode-no{
  position:absolute;
  color: rgb(247, 74, 103);
  top: -20px;
  left: -5px;
  background-color: var(--lightyellow);
  padding: 0.4rem;
  border-radius: 50px;
}

/* characters */
#characters{
  padding: 5vh;
}
#characters ul{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: clamp(0.5rem, 1vw, 1rem);
  opacity: 0;
}
#characters li{
  margin: clamp(1rem, 2vw, 2rem);
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 1rem;
  transition: transform 0.3s ease;
}
#character-list li:hover {
  transform: scale(1.05);
}
#character-list li::after {
  content: "";
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translateX(-50%) scale(0.95);
  opacity: 0;
  width: 120px;
  height: clamp(2rem, 10vh, 30rem);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 2;
  pointer-events: none;
}
#character-list li:hover::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
#character-list .chiikawa::after {
  background-image: url('./imgs/chiikawa_bubble.png');
}
#character-list .hachiware::after {
  background-image: url('./imgs/hachiware_bubble.png');
}
#character-list .usagi::after {
  background-image: url('./imgs/usagi_shout1.png');
}
#characters p{
  text-align: center;
  font-weight: var(--h2-font-wight);
  font-size: clamp(12px, 1.5vw, 20px);
  color: var(--brown);
}
#characters img{
  width: 18vw;
}

/* staffandcast */
#staffandcast{
  margin: 5vh auto;
}
#staffandcast ul{
  text-align: center;
  font-weight: var(--h2-font-wight);
  font-size: clamp(12px, 1.5vw, 20px);
  color: var(--brown);
  padding: 2vh;
  margin: 0 auto;
}

/* anime-info */
#anime-info{
  padding: 3rem 0;
  background-color: var(--white);
}
#anime-info ul{
  font-weight: var(--h2-font-wight);
  font-size: clamp(12px, 1.5vw, 20px);
  color: var(--brown);
  padding: 2vh clamp(5px, 1.5vw, 20px);
  width: fit-content;
  margin: 0 auto;
}
#anime-info li{
  display: flex;
  padding: clamp(5px, 1.5vw, 20px);
  margin: 0 auto;
}
#anime-info img{
  display: inline;
  max-width: 5rem;
  height: auto;
}
#anime-info li div{
  display: inline;
}

/* goods */
#goods{
  padding: 3rem 0;
}
#goods h2{
  padding: 5vh;
}
#goods a{
  display: block;
  text-align: center;
}
#goods img{
  max-width: 30vw;
}

/* bdanddvd */
#bdanddvd{
  padding: 5vh;
}
.slider{
  display:flex;
  justify-content: center;
  align-items: center;
}
#bdanddvd button{
  display: block;
  margin: 40px;
  padding: 10px 25px;
  font-weight: var(--h2-font-wight);
  font-size: var(--button-font-size);
  background-color: var(--pink);
  color: var(--white);
  border-radius: 50px;
  border: none;
  text-wrap: none;
  text-align: center;
}
#bdanddvd img{
  width: 30vw;
}

/* footer */
footer{
  text-align: center;
  padding: 6vh 10vw;
  background-color: rgb(59, 125, 59);
}
#footer-img{
  width: 60vw;
  height: auto;
  text-align: center;
}
footer h3,
footer p{
  color: var(--white);
}
footer h3{
  font-size: clamp(10px, 2vw, 32px);
}
footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
footer li{
  margin: clamp(1rem, 2vw, 2rem);
}
footer li img{
  width: clamp(50px, 8vw, 200px);
}
/* back-to-top */
#back-to-top{
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  border: none;
  background: none;
  z-index: 998;
  display: none;
}
#back-to-top img{
  width: clamp(50px, 5vw, 300px);
}